<!--Main layout-->
<main>
    <%- include('about.ejs') %>
    <%- include('projects.ejs') %>
    <%- include('upcoming.ejs') %>
    <%- include('testimonials.ejs') %>
    <%- include('contact.ejs') %>
</main>
<!--Main layout-->